<div class="container-fluid">
  <% if !@posts.empty? %>
    <% @posts.each do |post| %>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><%= post.title %></h3>
            <h4 class="panel-title">By: <%= post.user.uuid %></h4>
          </div>
          <div class="panel-body">
            <%= post.body.html_safe %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
  <div class="jumbotron">
    <h1>No Posts</h1>
    <p>It doesn't look like there are any posts yet, why don't you log in and make some?</p>
  </div>
  <% end %>
</div>
