<div class="container-fluid">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">New Post</h3>
      </div>
      <div class="panel-body">
        <%= form_for(@post) do |f| %>
          <% if @post.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
              <ul>
              <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="field">
            <%= f.label :title %><br />
            <%= f.text_field :title, {class:"full-width"} %>
          </div>
          <div class="field">
            <%= f.label :body %><br />
            <%= f.text_area :body, {class:"full-width"} %>
          </div>
          <div class="actions">
            <%= f.submit "Submit", {class:"btn btn-primary btn-lg submit-button"}%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
